 html,body{
 	margin: 0;
 	padding: 0;
 	overflow: 0;
  	overflow-x: hidden;
 	font-family: 'Inter', sans-serif;
 	background-color: #fefdf9;
 }


		/* NAVBAR*/

 nav{
 	margin-top: 1em;
 	margin-bottom: 1em;
 }

 .navbar-desktop{
 	display: none;
 }

 .navbar-brand{
 	padding-left: 0.5em;
 }

#offcanvasDarkNavbar{
	width: 70%;
}

.CloseButtonDiv{
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 4em;
}

#closeButton{
	float: right;
}

		/*HERO*/

.wrapper{
	margin-left: 1.25em;
	margin-right: 1.25em;
}

.heroImage1{
	width: 100%;
	margin-bottom: 1em;
}

.heroImage2{
	display: none;
}

h1{
	font-weight: 800;
	font-size: 2.75em;
}

p{
	color: #706e72;
}

.heroButton{
	font-family: 'Inter', sans-serif;
	background-color: #F15E50;
	color: #fefdf9;
	font-weight: bold;
	border-radius: 0;
	letter-spacing: 0.25em;
	font-size: 15px;
	width: 13em;
	height: 3em;
	margin-top: 0.75em;
}

.heroButton:hover {
	cursor: pointer;
	background-color: #00001A;
	color: #ffff;
}

		/*NEW SECTION*/

.new{
	background-color: #00001A;
	margin-top: 4em;
	padding: 1.5em;
	padding-bottom: 0.5em;
	margin-bottom: 4em;
}

.new h2{
	color: #E9AB53;
	padding-bottom: 1em;
}

.new h3{
	color: #ffff;
}

.new p{
	color: #a7a8bb;
	padding-bottom: 1em;
}

.new hr{
	color: #ffff;
	padding-bottom: 1em;
}

		/* BOTTOM*/

.s3{
  	margin-bottom: 4em;
}

.section img{
	width: 7em;
	height: 9em;
}

.section{
	display: flex;
	margin-top: 2em;
	padding: 0;
}

.sectionText{
	margin-left: 1.5em;
}

.section h4{
	color: #cbc9d3;
	font-weight: 700;
	font-size: 2em;
}

.section h5{
	color: #00001A;
	font-weight: 800;
	font-size: 1.15em;
}

.section p{
	color: #706e72;;
}

.attribution{
 	font-size: 11px;
 	text-align: center;
 }
 
.attribution a{
 	color: hsl(228, 45%, 44%);
 	text-decoration: none;
 }

@media screen and (min-width: 980px){

	.nav-mobile{
		display: none;
	}

	.navbar-desktop{
		display: flex;
		justify-content: space-between;
		align-content: center;
		margin-left: 9em;
		margin-right: 9em;
		margin-top: 4em;
		margin-bottom: 3em;
	}

	.navbar-desktop li{
		display: inline-block;
		padding-left: 1em;
		padding-right: 1em;
		color: #706e72;
	}

	.wrapper{
		margin-left: 10em;
		margin-right: 10em;
		margin-bottom: 4em;
		display: grid;
		grid-gap: 1.5em;
		grid-template-columns: repeat(3, 1fr);
	}

	.heroImage1{
		display: none;
	}

	.heroImage2{
		width: 100%;
		display: inline;
		grid-column: span 2;
	}

	.hero-h1{
		grid-row: 2;
	}

	h1{
		font-size: 3.25em;
	}

	.grid-hero-text{
		grid-row: 2;
	}

	.new{
	background-color: #00001A;
	margin-top: 0em;
	padding: 1.5em;
	padding-bottom: 0em;
	grid-column-start: 3;
	grid-row: span 2;
	}

	.new h2{
		font-weight: 800;
		padding-bottom: 0.5em;
	}

	.new h3{
		font-size: 1.25em;
		font-weight: 700;
	}

	.new p{
		color: #a7a8bb;
		padding-bottom: 0.75em;
	}

	.new hr{
		color: #ffff;
		padding-bottom: 0.75em;
	}

	.section img{
		width: 6em;
		height: 8em;
	}

	.s1{
		margin: 0em;
	}

	.s2{
		margin: 0;
		grid-column-start: 2;
	}

	.s3{
		margin: 0;
		grid-column: 3;
		margin-bottom: 0;
	}

	.sectionText{
		margin-left: 1.5em;
	}
}

@media screen and (min-width: 1664px){

	.navbar-desktop{
		margin-left: 12em;
		margin-right: 12em;
		margin-top: 4em;
		margin-bottom: 3em;
	}

	.wrapper{
		margin-left: 12.5em;
		margin-right: 12.5em;
	}

	.s1,.s2,.s3{
		margin-top: 2em;
	}
}
